## Preprocessing

In [20]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf
from sklearn.metrics import accuracy_score

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [21]:
# Drop the non-beneficial ID column 'EIN' 
# application_df = application_df.drop(columns = ['EIN', 'NAME'], axis =1)
application_df = application_df.drop(columns = ['EIN'], axis =1)
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [22]:
# Determine the number of unique values in each column.
application_df.nunique()

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [23]:
# Look at APPLICATION_TYPE value counts for binning
name_app = application_df['NAME'].value_counts()
name_app

PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

In [24]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `name_types_to_replace`

name_types_to_replace = list(name_app [name_app<=5].index)

# Replace in dataframe
for app in name_types_to_replace:
    application_df['NAME'] = application_df['NAME'].replace(app,"Other")

# Check to make sure binning was successful
application_df['NAME'].value_counts()

Other                                           20043
PARENT BOOSTER USA INC                           1260
TOPS CLUB INC                                     765
UNITED STATES BOWLING CONGRESS INC                700
WASHINGTON STATE UNIVERSITY                       492
                                                ...
HABITAT FOR HUMANITY INTERNATIONAL                  6
DAMAGE PREVENTION COUNCIL OF TEXAS                  6
FLEET RESERVE ASSOCIATION                           6
HUGH OBRIAN YOUTH LEADERSHIP                        6
INTERNATIONAL CONGRESS OF CHURCHES MINISTERS        6
Name: NAME, Length: 355, dtype: int64

In [25]:
# Look at APPLICATION_TYPE value counts for binning
count_app = application_df['APPLICATION_TYPE'].value_counts()
count_app

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [26]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(count_app [count_app < 100].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
T9         156
Other      120
Name: APPLICATION_TYPE, dtype: int64

In [27]:
# Look at CLASSIFICATION value counts for binning
count_class = application_df['CLASSIFICATION'].value_counts()
count_class

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [28]:
# You may find it helpful to look at CLASSIFICATION value counts >1
count_class_1 = count_class.loc[count_class > 1]
count_class_1

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [29]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(count_class[count_class < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [30]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)

In [31]:
# Split our preprocessed data into our features and target arrays
X = application_dummies.drop(['IS_SUCCESSFUL'], axis=1)
y = application_dummies['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [32]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [33]:
X_train_scaled.shape

(25724, 399)

## Compile, Train and Evaluate the Model

In [34]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
hidden_nodes_layer1 = 100
hidden_nodes_layer2 = 30
hidden_nodes_layer3 = 10
number_input_features = len(X_train_scaled[0])

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer1, activation="relu", input_dim=number_input_features))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="sigmoid"))

# Third hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="sigmoid"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential_1"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_4 (Dense)             (None, 100)               40000

 dense_5 (Dense)             (None, 30)                3030

 dense_6 (Dense)             (None, 10)                310

 dense_7 (Dense)             (None, 1)                 11

=================================================================
Total params: 43,351
Trainable params: 43,351
Non-trainable params: 0
_________________________________________________________________

In [35]:
# Compile the model
nn.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

In [36]:
# Train the model
nn.fit(X_train_scaled,y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 2ms/step - loss: 0.4994 - accuracy: 0.7726
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4444 - accuracy: 0.7926
Epoch 3/100
804/804 [==============================] - 3s 4ms/step - loss: 0.4351 - accuracy: 0.7963
Epoch 4/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4310 - accuracy: 0.7965
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4279 - accuracy: 0.7975
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4260 - accuracy: 0.7970
Epoch 7/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4245 - accuracy: 0.7984
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4232 - accuracy: 0.7988
Epoch 9/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4221 - accuracy: 0.7991
Epoch 10/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4211 - accuracy: 0.8000
Epoch 11/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4204 - accuracy: 0.8007
Epoch 12/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4198 - accuracy: 0.8005
Epoch 13/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4190 - accuracy: 0.8002
Epoch 14/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4183 - accuracy: 0.8016
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4174 - accuracy: 0.8022
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4168 - accuracy: 0.8021
Epoch 17/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4170 - accuracy: 0.8028
Epoch 18/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4163 - accuracy: 0.8024
Epoch 19/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4159 - accuracy: 0.8019
Epoch 20/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4152 - accuracy: 0.8031
Epoch 21/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4147 - accuracy: 0.8034
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8029
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4140 - accuracy: 0.8039
Epoch 24/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4131 - accuracy: 0.8043
Epoch 25/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4130 - accuracy: 0.8043
Epoch 26/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4124 - accuracy: 0.8041
Epoch 27/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4122 - accuracy: 0.8048
Epoch 28/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4120 - accuracy: 0.8045
Epoch 29/100
804/804 [==============================] - 4s 5ms/step - loss: 0.4110 - accuracy: 0.8054
Epoch 30/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4110 - accuracy: 0.8046
Epoch 31/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4107 - accuracy: 0.8054
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4104 - accuracy: 0.8048
Epoch 33/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4102 - accuracy: 0.8044
Epoch 34/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4097 - accuracy: 0.8054
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4098 - accuracy: 0.8059
Epoch 36/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4092 - accuracy: 0.8058
Epoch 37/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4093 - accuracy: 0.8053
Epoch 38/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4087 - accuracy: 0.8062
Epoch 39/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4085 - accuracy: 0.8064
Epoch 40/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4082 - accuracy: 0.8055
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4081 - accuracy: 0.8061
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4087 - accuracy: 0.8061
Epoch 43/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4072 - accuracy: 0.8064
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4075 - accuracy: 0.8067
Epoch 45/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4074 - accuracy: 0.8071
Epoch 46/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8064
Epoch 47/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4071 - accuracy: 0.8059
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4062 - accuracy: 0.8080
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4067 - accuracy: 0.8060
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4062 - accuracy: 0.8065
Epoch 51/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4060 - accuracy: 0.8072
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8069
Epoch 53/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4057 - accuracy: 0.8071
Epoch 54/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4056 - accuracy: 0.8081
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4059 - accuracy: 0.8068
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4054 - accuracy: 0.8067
Epoch 57/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8075
Epoch 58/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4051 - accuracy: 0.8082
Epoch 59/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8073
Epoch 60/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4047 - accuracy: 0.8071
Epoch 61/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4052 - accuracy: 0.8079
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8074
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4042 - accuracy: 0.8075
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4045 - accuracy: 0.8075
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4041 - accuracy: 0.8072
Epoch 66/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8076
Epoch 67/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8074
Epoch 68/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4040 - accuracy: 0.8075
Epoch 69/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4034 - accuracy: 0.8084
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4032 - accuracy: 0.8082
Epoch 71/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4037 - accuracy: 0.8071
Epoch 72/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8076
Epoch 73/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4035 - accuracy: 0.8069
Epoch 74/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4032 - accuracy: 0.8078
Epoch 75/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4034 - accuracy: 0.8080
Epoch 76/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4032 - accuracy: 0.8078
Epoch 77/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4033 - accuracy: 0.8079
Epoch 78/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4028 - accuracy: 0.8079
Epoch 79/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8080
Epoch 80/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4031 - accuracy: 0.8078
Epoch 81/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8079
Epoch 82/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4029 - accuracy: 0.8084
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4025 - accuracy: 0.8078
Epoch 84/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4024 - accuracy: 0.8085
Epoch 85/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4027 - accuracy: 0.8074
Epoch 86/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4025 - accuracy: 0.8075
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8074
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4022 - accuracy: 0.8089
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8079
Epoch 90/100
804/804 [==============================] - 3s 3ms/step - loss: 0.4027 - accuracy: 0.8072
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4021 - accuracy: 0.8077
Epoch 92/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4020 - accuracy: 0.8077
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8083
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8079
Epoch 95/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8077
Epoch 96/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4019 - accuracy: 0.8080
Epoch 97/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4013 - accuracy: 0.8085
Epoch 98/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4018 - accuracy: 0.8074
Epoch 99/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4016 - accuracy: 0.8084
Epoch 100/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4013 - accuracy: 0.8079

In [37]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4460 - accuracy: 0.7890 - 484ms/epoch - 2ms/step
Loss: 0.4460276663303375, Accuracy: 0.7890378832817078

In [38]:
# Export our model to HDF5 file
nn.save('AlphabetSoupCharity_opt.h5')